<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
  </head>
  <body>
    <section class="form-login">
      <h5>Formulario Login</h5>
      <form method="POST" action="/login">
        <input class="controls" type="text" name="email" placeholder="Correo">
        <input class="controls" type="password" name="contraseña" placeholder="contraseña">
        <input class="buttons" type="submit" value="Ingresar">
      </form>
      <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
      <p> <a href="/register">¿No tienes cuenta?  </a> </p>

    </section>

  </body>
</html>